<div class="container">
  <div class="row no-gutters">
    <div class="col-md-6 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">ユーザーログイン</h5>
      <div class="form-body p-4">
        <div class="mx-auto text-center">
          <p>メールアドレスと<br>パスワードを入力してください。</p>
        </div>
        <%= form_with model: @user, url: user_session_path do |f| %>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-lock"></i></span>
            </div>
            <%= f.password_field :password, placeholder: "パスワード", class: "form-control"  %>
          </div>
            <%= f.submit "サインイン", class: "btn btn-md custom-button mt-3" %>
        <% end %>
        <%= link_to public_guest_sign_in_path, method: :post, class: 'nav-link bold-underline mt-2' do %>
          ゲストログインはこちら
        <% end %>
        <div class="mt-2">
          <hr>
          <p class="mt-2 text-left">はじめての方はこちら</br>ご登録がお済みでない方は、こちらから登録をお願いいたします。</p>
          <%= link_to new_user_registration_path, class: "btn btn-md custom-button-2 mt-3" do %>
            新規登録
          <% end %>
      </div>
    </div>
  </div>
</div>
