<% if admin_signed_in? %>
<!--管理者がログインしている場合-->
  <li>
    <%= link_to new_admin_item_path do %>商品登録<% end %>
    <%= link_to destroy_admin_session_path, method: :delete do %>ログアウト<% end %>
  </li>
<% elsif user_signed_in? %>
<!--顧客がログインしている場合-->
  <li>
    <%= link_to destroy_user_session_path, method: :delete do %>ログアウト<% end %>
  </li>
<% else %>
<!--どちらもログインしていない場合-->
  <li>
    <%= link_to new_user_registration_path do %>新規登録<% end %>
  </li>
  <li>
    <%= link_to new_user_session_path do%>ログイン<% end %>
  </li>
<% end %>